<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Add medicine</title>
</head>
<body>
    <h1>Add medicine</h1>
    <form action="/add/add" method="POST">
        <div>
            <label for="atcClassification">ATC classification:</label>
            <input type="text" id="atcClassification" name="atcClassification" required>
        </div> <br>
        <div>
            <label for="medicinalProducts">Medical product:</label>
            <input type="text" id="medicinalProducts" name="medicinalProducts" required>
        </div><br>
        <div>
            <label for="dosageForms">Dosage form:</label>
            <input type="text" id="dosageForms" name="dosageForms" required>
        </div><br>
        <div>
            <label for="atcCode">ATC code:</label>
            <input type="text" id="atcCode" name="atcCode" required>
        </div><br>
        <button type="submit" class ="btn">Add medicine</button>
        <button onclick="window.location.href='/'" class = "btn">Home</button>
    </form>
</body>
</html> -->




<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <title>Add medicine</title>
    </head>
    <body>
        <h1>Add medicine</h1>
        <form id= "cssActive" action="/add/add" method="POST">
            <div>
                <label for="atcClassification">ATC classification:</label>
                <input type="text" id="atcClassification" name="atcClassification" required>
            </div><br>
            <div>
                <label for="medicinalProducts">Medical product:</label>
                <input type="text" id="medicinalProducts" name="medicinalProducts" required>
            </div><br>
            <div>
                <label for="dosageForms">Dosage form:</label>
                <input type="text" id="dosageForms" name="dosageForms" required>
            </div><br>
            <div>
                <label for="atcCode">ATC code:</label>
                <input type="text" id="atcCode" name="atcCode" required>
            </div><br>
            <div>
                <label for="productName">Product name:</label>
                <input type="text" id="productName" name="productName" required>
            </div><br>
            <div>
                <label for="imageOfProduct">Image URL:</label>
                <input type="text" id="imageOfProduct" name="imageOfProduct" required>
            </div><br>
            <div>
                <label for="symptoms">Symptoms:</label>
                <input type="text" id="symptoms" name="symptoms" required>
            </div><br>
            <div>
                <label for="description">Description:</label>
                <input type="text" id="description" name="description" required>
            </div><br>
            <button type="submit" class="btn">Add medicine</button>
            <button onclick="window.location.href='/'" class="btn">Home</button>
            <!-- <button type="submit" class="btn">Update medicine</button> -->
        </form>
    </body>
    </html>