<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация о лекарстве</title>
    <link rel="stylesheet" href="/styles.css"> <!-- Путь к CSS -->
</head>
<body>
    <h1><%= medicine["Medicinal products"] %></h1>
    <p><strong>Классификация ATC:</strong> <%= medicine["Anatomical, therapeutic and chemical classification (ATC)"] %></p>
    <p><strong>Формы доз:</strong> <%= medicine["Dosage forms"] %></p>
    <p><strong>Код ATC:</strong> <%= medicine["ATC code"] %></p>
    <a href="/medicine">Назад к списку</a>
    <script src="/script.js"></script> <!-- Путь к JavaScript -->
</body>
</html>
