body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
}

h1 {
    color: #333;
}
.btn {
    padding: 10px 15px;
    font-size: 12px;
    color: #fff;
    background-color: #09b195;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

#medicine-list {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.medicine-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 3px;
}

 #cssActive{
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #09b195;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

h1 {
    text-align: center;
}

#medicine-search {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

#medicine-search .form-group {
    display: inline-block;
    width: 45%;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.medicine-item {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: left;
}

.medicine-item img {
    display: block;
    margin: 10px auto;
    max-width: 100px;
}

.medicine-item h2, .medicine-item p {
    margin: 10px 0;
}

.medicine-item p {
    font-size: 14px;
}